@import url('https://fonts.googleapis.com/css2?&family=Honk&display=swap&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(234, 234, 234);
    background-image: url(../gfx/wallpaper.jpg);
    background-repeat: repeat;
    background-size: 40%;

main {
    margin: auto;
    max-width: 900px;
    width: 100%; 
}

#hangmanGame {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#header {
    padding: 0.5rem 1rem;
}

.logo {
    display: inline-block;
    width: 150px;
    img {
        width: 100%;
        height: 100%;
        transform: rotate(5deg);
    }
}

h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 45px;
}

#letterContainer {
    ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.letterButton {
    list-style-type: none;
    
    button {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
}
}